## Loading Libraries & Data-set

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import math
import matplotlib.pyplot as plt
%matplotlib inline
#for showing results after the commands

In [2]:
titanic_data=pd.read_csv('train.csv')

In [3]:
titanic_data.head(5)

   1949-01-01  112
0  1949-02-01  118
1  1949-03-01  132
2  1949-04-01  129
3  1949-05-01  121
4  1949-06-01  135

In [4]:
print('No. of passengers in original data-set: '+str(len(titanic_data)))

No. of passengers in original data-set: 136

## Analyzing Data

In [5]:
sns.countplot(x='Survived',data=titanic_data)

ValueError: Could not interpret input 'Survived'

In [ ]:
sns.countplot(x='Survived',hue='Sex',data=titanic_data)

In [ ]:
sns.countplot(x='Survived',hue='Pclass',data=titanic_data)

In [ ]:
titanic_data['Age'].plot.hist()

In [ ]:
#titanic_data['Fare'].plot.hist()
titanic_data['Fare'].plot.hist(bins=20, figsize=(10,5))

In [ ]:
titanic_data.info()

## Data Wrangling

In [ ]:
titanic_data.isnull()

In [ ]:
titanic_data.isnull().sum()

In [ ]:
#sns.heatmap(titanic_data.isnull())
#sns.heatmap(titanic_data.isnull(), yticklabels=False)
sns.heatmap(titanic_data.isnull(), yticklabels=False, cmap='viridis')

# yticklabels=False removes all y-axis plots/data
# cmap='viridis' gives colour effect making more attractive

In [ ]:
sns.boxplot(x='Pclass', y='Age', data=titanic_data)

In [ ]:
titanic_data.head(5)

In [ ]:
titanic_data.drop('Cabin', axis=1, inplace=True)

# axis=1 - for column
# inplace=True does operation inplace(saves changes to dataset) and returns none

In [ ]:
titanic_data.head(5)

In [ ]:
titanic_data.dropna(inplace=True)

In [ ]:
sns.heatmap(titanic_data.isnull(),yticklabels=False,cbar=False)

#cbar=False for no colour coding

In [ ]:
gender=pd.get_dummies(titanic_data['Sex'],drop_first=True)
gender.head(5)

In [ ]:
embark=pd.get_dummies(titanic_data['Embarked'],drop_first=True)
embark.head(5)

In [ ]:
pclass=pd.get_dummies(titanic_data['Pclass'],drop_first=True)
pclass.head(5)

In [ ]:
titanic_data=pd.concat([titanic_data,gender,embark,pclass],axis=1)

In [ ]:
titanic_data.head(5)

In [ ]:
titanic_data.drop(['Pclass','Sex','PassengerId','Name','Ticket'],axis=1,inplace=True)

In [ ]:
titanic_data.head(5)

In [ ]:
titanic_data.drop('Embarked',axis=1,inplace=True)

In [ ]:
titanic_data.head(5)

## Train & Test Data

In [ ]:
x=titanic_data.drop('Survived',axis=1)
y=titanic_data['Survived']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logmodel=LogisticRegression()

In [ ]:
logmodel.fit(x_train, y_train)

In [ ]:
predictions=logmodel.predict(x_test)

## Accuracy Check

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
classification_report(y_test,predictions)

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix(y_test,predictions)

In [ ]:
# confusion_matrix
#     PN PY
# AN 105 21
# AY 25  63

# accuracy=(AN-PN+AY-PY)/(AN-PN+AN-PY+AY-PN+AY-PY)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,predictions)

# 168/214